<section data-ng-controller="TemplateOffersClientController as vm">
	<div data-ng-if="vm.rootCreate">
		<div class="row" >
			<h3 class="text-center">{{'CREATE_FIRST_OFFER_TEMPLATE' | translate}}</h3>
		</div>
		<div class="row text-center" data-ng-if="!vm.showCreateBtns">
			<button class="btn btn-primary segment" data-ng-disabled="vm.createDisabled" data-ng-click="vm.showCreateBtns=true;">
				{{'ADD' | translate}}&nbsp;{{vm.strLanguage}}&nbsp;{{'TEMPLATE' | translate}}
			</button>
		</div>
		<div class="row text-center" data-ng-if="vm.showCreateBtns">
			<button class="btn btn-primary segment" data-ng-click="vm.showFieldCreateDialog(3)">
				{{'ADD_NEW_FIELD' | translate}}
			</button>
		</div>
		<div class="row text-center top7" data-ng-if="vm.showCreateBtns">
			<button class="btn btn-default segment" data-ng-click="vm.copyFromSuperTemplate(3)">
				{{'CREATE_STANDARD_TEMPLATE' | translate}}
			</button>
		</div>
	</div>
	<!-- for loader -->
	<div class="loading" style="display: none;"></div>
	<!-- ********** -->
	<div data-ng-if="!vm.rootCreate">
		<div class="row">
			<h2 class="col-xs-4">{{vm.offerTemplateTitle}}</h2>
		</div>
		<div class="row top17">
			<div class="col-xs-2" data-ng-repeat="lng in vm.languages">
				<span data-ng-if="vm.lang==lng.language">{{lng.name}}</span>
				<a href="" data-ng-click="vm.changeLanguage(lng.language)" data-ng-if="vm.lang!=lng.language">{{lng.name}}</a><a href="" data-ng-click="vm.setDefaultLanguage(lng.language)" data-ng-if="!lng.default_language" title="Set language to default">&nbsp;<small>(Default)</small></a><a href="" data-ng-click="vm.removeLanguage(lng.language)" data-ng-if="!lng.default_language && vm.lang!=lng.language" title="Remove template with language">(-)</a>
			</div>
			<div class="col-xs-1">
				<a href="" data-ng-click="vm.addNewLanguage()">{{'ADD_LANGUAGE' | translate}}</a>
			</div>
		</div>
		<div class="row top17">
			<div class="col-xs-2">
				<button type="button" class="btn btn-primary segment" data-ng-click="vm.showFieldCreateDialog(1)">
					<i class="glyphicon glyphicon-plus"></i>{{'ADD_FIELD' | translate}}
				</button>
			</div>
			<div class="col-xs-3">
				<input type="checkbox" name="storetoall" data-ng-model="vm.storetoall" /><label>{{'FIELD_TO_ALL_LANGS' | translate}}</label>
			</div>
			<div class="col-xs-2" data-ng-show="vm.showUpdatePos">
				<button type="button" class="btn btn-warning segment" data-ng-click="vm.updateFieldsPos(1)">
					<i class="glyphicon glyphicon-floppy-disk"></i>{{'UPDATE_FIELDS_POS' | translate}}
				</button>
			</div>
		</div>
		<!-- Project fields -->
		<div class="row top7" data-ng-repeat="field in vm.offer_fields track by $index">
			<div class="col-xs-3">
				<span class="form-control">{{field.field_caption}}</span>
			</div>
			<div class="col-xs-1">
				<span class="form-control">{{field.full_field_points}}</span>
			</div>
			<div class="col-xs-3">
				<button class="btn btn-default" title="Up pos field" data-ng-click="vm.moveField( $index, -1);">
					<i class="glyphicon glyphicon-arrow-up"></i>
				</button>
				<button class="btn btn-default" title="Down pos field" data-ng-click="vm.moveField( $index, 1);">
					<i class="glyphicon glyphicon-arrow-down"></i>
				</button>
				<button class="btn btn-default" title="Edit field" data-ng-click="vm.showFieldUpdateDialog(field)">
					<i class="glyphicon glyphicon-pencil"></i>
				</button>
				<button class="btn btn-default" title="Remove field" data-ng-click="vm.removeField(field._id, $index, field.template)">
					<i class="glyphicon glyphicon-trash"></i>{{'REMOVE' | translate}}
				</button>
			</div>
		</div>
	</div>
</section>