<section class="container" data-ng-controller="UsersResetPasswordClientController as vm">
	<div class="row">
		<h2>{{'RESET_PASSWORD' | translate}}&nbsp;<span ng-bind="vm.user.username"></span></h2>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form name="vm.resetForm" data-ng-submit="vm.resetPassword(vm.resetForm.$valid)" novalidate autocomplete="off" class="signin">
				<fieldset>
					<div class="form-group" show-errors>
						<label for="newPassword">{{'NEW_PASSWORD' | translate}}</label>
						<input type="password" id="newPassword" name="newPassword" class="form-control segment" ng-model="vm.passwordDetails.newPassword" placeholder="{{'NEW_PASSWORD' | translate}}" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" password-validator required>
          				<div ng-messages="vm.resetForm.newPassword.$error" role="alert">
            				<p class="help-block error-text" ng-message="required">{{'ENTER_NEW_PASSWORD' | translate}}</p>
            				<div ng-repeat="passwordError in passwordErrors">
              					<p class="help-block error-text" ng-show="vm.resetForm.newPassword.$error.requirements">{{passwordError}}</p>
            				</div>
          				</div>
          			</div>
        			<div class="form-group" show-errors>
          				<label for="verifyPassword">{{'VERIFY_PASSWORD' | translate}}</label>
          				<input type="password" id="verifyPassword" name="verifyPassword" class="form-control segment" ng-model="vm.passwordDetails.verifyPassword" placeholder="{{'VERIFY_PASSWORD' | translate}}" password-verify="vm.passwordDetails.newPassword" required>
          				<div ng-messages="vm.resetForm.verifyPassword.$error" role="alert">
            				<p class="help-block error-text" ng-message="required">{{'VERIFY_NEW_PASSWORD' | translate}}</p>
            				<p class="help-block error-text" ng-show="vm.resetForm.verifyPassword.$error.passwordVerify">{{'PASSWORD_DO_NOT_MATCH' | translate}}</p>
          				</div>
        			</div>
        			<div class="form-group" ng-show="!vm.resetForm.newPassword.$error.required">
          				<label>{{'PASSWORD_REQUIREMENTS' | translate}}</label>
          				<uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
        			</div>
        			<div class="text-center form-group">
          				<button type="submit" class="btn btn-primary segment">{{'SAVE_PASSWORD' | translate}}</button>
        			</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>